# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Игнорировать .vs в любом месте (например: ProjectA/.vs/)
**/.vs/

# Игнорировать папки сборки
**/build/
**/out/
**/cmake-build-*/